
  <%= image_tag profile.avatar.to_s %>

  <div class = "sns-link">
    <ul class="profile-links">

      <% if @user.profile.social_profile.twitter.present? %>
        <li class="profile-link">
          <%= link_to @user.profile.social_profile.twitter, target: :_blank do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.profile.social_profile.instagram.present? %>
        <li class="profile-link">
          <%= link_to @user.profile.social_profile.instagram, target: :_blank do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.profile.social_profile.youtube.present? %>
        <li class="profile-link">
          <%= link_to @user.profile.social_profile.youtube, target: :_blank do %>
            <i class="fab fa-youtube"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.profile.social_profile.line.present? %>
        <li class="profile-link">
          <%= link_to @user.profile.social_profile.line, target: :_blank do %>
            <i class="fab fa-line"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.profile.social_profile.apple.present? %>
        <li class="profile-link">
          <%= link_to @user.profile.social_profile.apple, target: :_blank do %>
            <i class="fa-solid fa-music"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.profile.social_profile.spotify.present? %>
        <li class="profile-link">
          <%= link_to @user.profile.social_profile.spotify, target: :_blank do %>
            <i class="fab fa-spotify"></i>
          <% end %>
        </li>
      <% end %>

      </ul>
  </div> 

  プロフィール:<br>
  <%= profile.introduction %><br>

  活動地域:<br>
  <%= link_to prefecture_path(@user.profile.prefecture) do %>
    <%= @user.profile.prefecture.name %><br>
  <% end %>


  ジャンル:<br>
  <% @user.profile.genres.each do |g| %>
    <%= g.name %>
  <% end %> <br>

  web:<br>
  <%= profile.web %><br>

