  <tbody>
  <% if @reserves.blank? %>
    <tr>
        <td colspan="7" class="has-text-centered"><h1>表示できるご予約はありません。</h1></td>
    </tr>
  <% end %>
  <% @reserves.each do |reserve| %>
      <tr>
          <td>
              予約ライブ：
              <%= link_to user_schedule_path(reserve.schedule, current_user) do %>
                  <%= reserve.schedule.title %><br>
              <% end %>
          </td>
          <td style="padding-top: 30px;">
              予約アーティスト：
              <%= link_to user_path(reserve.schedule.user), class: "tootip" do %>
                  <%= reserve.schedule.user.username %><br>
              <% end %>
          </td>
          送信内容：
          <td style="padding-top: 30px;">
              <%= reserve.reserve_content %><br>--------<br>
          </td>
      </tr>
  <% end %>
  </tbody>
