<p>MOVIE詳細</p>

タイトル<br>
<% if @movie.video? %>
<div class="video-player">
    <%= video_tag @movie.video.url, autoplay: false, muted: false, controls: true , :size => "854x480"%>
</div>
<% end %>

<%= @movie.title%><br>

<% if @movie.published_date? %>
公開日<br>
<%= @movie.published_date.strftime("%Y年%-m月%-d日") %><br>
<% end %>

詳細<br>
<%=simple_format @movie.body%><br>

<%= link_to "一覧へ戻る", user_movies_path(@user.id) %>

<% if @movie.user_id == current_user.id %>
  <%= link_to "編集", edit_user_movie_path(@user, @movie) %>
  <%= link_to "削除", user_movie_path(@user, @movie), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %> 