<% if user_signed_in? %>
  <% if @post.liked_by?(current_user) %>
    <%= button_to user_post_like_path(user, post), method: :delete, id: "like-button", remote: true do %>
      <%= image_tag("icon_red_heart.svg") %>
      <span>
        <%= post.likes_count %>
      </span>
    <% end %>
  <% else %>
    <%= button_to user_post_likes_path(user, post), method: :post, id: "like-button", remote: true do %>
      <%= image_tag("icon_heart.svg") %>
      <span>
        <%= post.likes_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <%= image_tag("icon_heart.svg") %>
    <span>
      <%= post.likes_count %>
    </span>
<% end %>
