<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-10 mt-5">
      <table class="table text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user_path(user) do %>
                  <%= user.profile.name %>@<%= user.username %>
                <% end %>
              </td>
              <td>
                <% unless user == current_user %>
                <div class="mypage-follow-btn">
                  <% if current_user.following?(user) %> 
                    <%= link_to user_relationships_path(user), method: :delete do %>
                      <button class="btn btn-follow-delete">フォロー解除</button>
                    <% end %>
                  <% else %>
                    <%= link_to user_relationships_path(user), method: :post do %>
                      <button class="btn btn-follow-create">フォロー</button>
                    <% end %>
                  <% end %>
                </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
