<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">
        <%= @user.profile.name %>@<%= @user.username %>
      </h1>
      <%= link_to "アカウント", account_path %>
      <%= link_to "プロフィール", profile_path(@user.profile) %>
      <%= link_to "プロフィール編集", edit_profile_path(@user) %><br>
      <%= link_to "CONTACT一覧", contacts_user_path %>
      <%= link_to "デバイスのedit", edit_user_registration_path %>
    </div>
  </div>
</section>

<%= render partial: "profiles/profile", locals: { profile: @user.profile} %>

<%= link_to "NEWS", user_posts_path(@user.id) %>
<%= link_to "スケジュール", schedules_user_path(@user.id) %>
<%= link_to "DISCOGRAPHY", user_discs_path(@user.id) %>
<%= link_to "MOVIE", user_movies_path(@user.id) %>
<%= link_to "GOODS", user_goods_path(@user.id) %>
<%= link_to "CONTACT", new_user_contact_path(@user.id) %>
