<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">
        <%= @user.profile.name %>@<%= @user.username %>
      </h1>
      <%= link_to "アカウント", account_path %>
      <%= link_to "プロフィール編集", edit_user_profile_path(@user.profile) %><br>
      <%= link_to "CONTACT一覧", contacts_user_path %>
      <%= link_to "デバイスのedit", edit_user_registration_path %>
    </div>
  </div>
</section>

<%
=begin%>
 <div class="mypage-intro-topright">
  <div class="mypage-follow-contents-<%= @user.id %>">
    <%= render partial:"relationships/follow", lacals: { user: @user } %>
  </div>
</div> 
<%
=end%>
    <%= render partial:"relationships/follow", lacals: { user: @user } %>

<%= render partial: "profiles/profile", locals: { profile: @user.profile} %>

<%= link_to "NEWS", user_posts_path(@user.id) %>
<%= link_to "スケジュール", user_schedules_path(@user.id) %>
<%= link_to "DISCOGRAPHY", user_discs_path(@user.id) %>
<%= link_to "MOVIE", user_movies_path(@user.id) %>
<%= link_to "GOODS", user_goods_path(@user.id) %>
<%= link_to "CONTACT", new_user_contact_path(@user.id) %>
<%= link_to "お気に入り", likes_user_path(@user) %>
