<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">

      <h1 class="fw-light">
        <%= @user.profile.name %>@<%= @user.username %>
      </h1>

            <%= link_to "アカウント", account_path %>
            <%= link_to "プロフィール", edit_profile_path %>
            <%= link_to "CONTACT一覧", contacts_user_path %>


    </div>
  </div>
</section>

<div class = "sns-link">
  <ul class="profile-links">

    <% if @user.profile.twitter.present? %>
      <li class="profile-link">
        <%= link_to @user.profile.twitter, target: :_blank do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </li>
    <% end %>

    <% if @user.profile.instagram.present? %>
      <li class="profile-link">
        <%= link_to @user.profile.instagram, target: :_blank do %>
          <i class="fab fa-instagram"></i>
        <% end %>
      </li>
    <% end %>

    <% if @user.profile.youtube.present? %>
      <li class="profile-link">
        <%= link_to @user.profile.youtube, target: :_blank do %>
          <i class="fab fa-youtube"></i>
        <% end %>
      </li>
    <% end %>

    <% if @user.profile.line.present? %>
      <li class="profile-link">
        <%= link_to @user.profile.line, target: :_blank do %>
          <i class="fab fa-line"></i>
        <% end %>
      </li>
    <% end %>

    <% if @user.profile.apple.present? %>
      <li class="profile-link">
        <%= link_to @user.profile.apple, target: :_blank do %>
          <i class="fa-solid fa-music"></i>
        <% end %>
      </li>
    <% end %>

    <% if @user.profile.spotify.present? %>
      <li class="profile-link">
        <%= link_to @user.profile.spotify, target: :_blank do %>
          <i class="fab fa-spotify"></i>
        <% end %>
      </li>
    <% end %>

    </ul>
</div>

<div class="d-flex flex-column">
  <!-- アバターファイルの表示 -->
  <%= image_tag @user.profile.avatar.to_s, :class => "float-center border mb-2 mx-auto" %>
</div>

<div>自己紹介:</div>
<div><%= @user.profile.introduction %></div>

<div>場所:</div>
<div><%= @user.profile.location %></div>

<div>web:</div>
<div><%= @user.profile.web %></div>

<%= link_to "NEWS", user_posts_path(@user.id) %>
<%= link_to "スケジュール", schedules_user_path %>
<%= link_to "DISCOGRAPHY", discs_user_path %>
<%= link_to "MOVIE", movies_user_path %>
<%= link_to "GOODS", goods_user_path %>
<%= link_to "CONTACT", new_user_contact_path(@user.id) %>
