<%= form_with(model: [user, schedule], local: true) do |f| %>

  <div class="form-group">
    <% if @schedule.image? %>
      <%= image_tag @schedule.image.to_s, :id => "avatar-prev" %><br>
      <label><%= f.check_box :remove_image %> 画像を削除する</label>
    <% else %>
      <%= f.hidden_field :image_cache %>
      <%= f.label "画像をアップロード" %><br>
      <%= f.file_field :image, :id => "avatar-img", :class => "form-control-file" %><br />
    <% end %><br>

    <%= f.label :title, "イベントタイトル", :class => "form-label" %><br />
    <%= f.text_field :title, :class => "form-control" %><br />

    <%= f.label :schedule_date, "日時", :class => "form-label" %><br />
    <%= f.date_field :schedule_date, class: 'form-control' %><br />

    <%= f.label :open_time, " OPEN/", :class => "form-label" %>
    <%= f.time_select(:open_time, {class:'select-date', id:"open_time", prompt:'--', time_separator: ':', minute_step: 10, }, ignore_data: true) %><br />

    <%= f.label :start_time, "START/", :class => "form-label" %>
    <%= f.time_select(:start_time, {class:'select-date', id:"start-time", prompt:'--', time_separator: ':', minute_step: 10 }, ignore_data: true) %><br />

    <div class="col-md-6 select">
      <div class="form-group">
        <label>予約種別</label>
        <%= f.select :instant, Schedule.instants.map {|key,value| [key.humanize, key]}, selected: 'Instant', prompt: "選択してください", class: "form-control" %>
      </div>
        <label>即時予約制:Instant, 承認予約制:Request</label>
    </div>

    <%= f.label :body, "詳細", :class => "form-label" %><br />
    <%= f.text_area :body, :class => "form-control" %><br />

    <%= f.submit "送信", :class => "btn btn-primary" %><br />
  </div>

<% end %>
