  <div class="card-body">
    <%= form_with model: @schedule do |form| %>

      <div class="form-group">
        <%= form.label :title, "タイトル", :class => "form-label" %><br />
        <%= form.text_field :title, :class => "form-control" %>
      </div>
    
      <div class="form-group">
        日時<br />
        <%= form.date_field :schedule_date, class: 'form-control' %>
        OPEN/
        <%= form.time_select(:open_time, {class:'select-date', id:"open_time", prompt:'--', time_separator: ':'}, ignore_data: true) %>
        START/
        <%= form.time_select(:start_time, {class:'select-date', id:"start-time", prompt:'--', time_separator: ':'}, ignore_data: true) %><br />
      </div>

      <div class="form-group">
        <%= form.label :body, "詳細", :class => "form-label" %><br />
        <%= form.text_area :body, :class => "form-control" %>
      </div>

        <div class="form-group row">
        <div class="col-sm-4">
          <div class="account-profile-img mb-3">
            <%= image_tag @schedule.image.to_s, :id => "avatar-prev" %>
          </div>
          <% if @schedule.image? %>
          <label><%= form.check_box :remove_image %> 画像を削除する</label>
          <% else %>
          <%= form.hidden_field :image_cache %>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= form.file_field :image, :id => "avatar-img", :class => "form-control-file" %>
        </div>
      </div>
      
      <div class="actions float-right">
        <%= form.submit "更新する", :class => "btn btn-primary" %><br />
        <%= link_to 'キャンセル' , :back, :class => "btn btn-light" %>
      </div>
      
    <% end %>
  </div>
