<p>スケジュール詳細</p>

イベントタイトル<br>
<%= @schedule.title%><br>
日時<br>
<%= @schedule.schedule_date.strftime("%Y年%-m月%-d日")  %><br>
OPEN
<%= @schedule.open_time.strftime("%H:%M") %>
/ START
<%= @schedule.start_time.strftime("%H:%M") %><br>
イベント詳細<br>
<%=simple_format @schedule.body%><br>

<% if @schedule.image? %>
    <%= image_tag @schedule.image.to_s %>
<% end %>


  <div class="reserves ml-5 mt-5">
  <%= form_with(model:[@user, @schedule, @reserve], local: true) do |f| %>
    <%= f.text_area :reserve_content, :size=>"60x3",placeholder: "コメントする" %>
    <%= f.submit "送信する", class: "btn btn-success mb-4" %>
  <% end %>

  <p>コメント件数：<%= @reserves.count %></p>
    <% @reserves.each do |reserve| %><br>
      <%= reserve.created_at.strftime('%Y/%m/%d') %>
      <%= reserve.user.username %>
      <%= reserve.reserve_content %>
    <% end %><br> 


<%= link_to "一覧へ戻る", user_schedules_path(@user.id) %>

<% if @schedule.user_id == current_user.id %>
  <%= link_to "編集", edit_user_schedule_path(@user, @schedule) %>
  <%= link_to "削除", user_schedule_path(@user, @schedule), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
