<p>スケジュール詳細</p>

イベントタイトル<br>
<%= @schedule.title%><br>
日時<br>
<%= @schedule.schedule_date.strftime("%Y年%-m月%-d日")  %><br>
OPEN
<%= @schedule.open_time.strftime("%H:%M") %>
/ START
<%= @schedule.start_time.strftime("%H:%M") %><br>
イベント詳細<br>
<%=simple_format @schedule.body%><br>

<% if @schedule.image? %>
    <%= image_tag @schedule.image.to_s %>
<% end %>

  <div class="comments ml-5 mt-5">
  <%= form_with(model:[@schedule, @comment], local: true) do |f| %>
    <%= f.text_area :comment_content, :size=>"60x3",placeholder: "コメントする" %>
    <%= f.submit "送信する", class: "btn btn-success mb-4" %>
  <% end %>


  <p>コメント件数：<%= @comments.count %></p>
    <% @comments.each do |comment| %><br>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= comment.user.username %>
      <%= comment.comment_content %>
    <% end %><br>




<%= link_to "一覧へ戻る", schedules_user_path(@schedule.user_id) %>

<% if @schedule.user_id == current_user.id %>
  <%= link_to "編集", edit_schedule_path %>
  <%= link_to "削除", schedule_path, method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
