<p>スケジュール詳細</p>

イベントタイトル<br>
<%= @schedule.title%><br>
日時<br>
<%= @schedule.schedule_date.strftime("%Y年%-m月%-d日")  %><br>
OPEN
<%= @schedule.open_time.strftime("%H:%M") %>
/ START
<%= @schedule.start_time.strftime("%H:%M") %><br>
イベント詳細<br>
<%=simple_format @schedule.body%><br>

<% if @schedule.image? %>
    <%= image_tag @schedule.image.to_s %>
<% end %>

    <!-- 承認制の場合はアイコンを表示しない　-->
  <span><% if @schedule.Instant? %><i class="fas fa-chess-king" style="color: #ffb400"></i><% end %></span>

  <div class="reserves ml-5 mt-5">
  チケット予約申し込み
  <%= form_with(model:[@user, @schedule, @reserve], local: true) do |f| %>
    <%= f.text_field :name, :size=>"60x3",placeholder: "名前" %><br>
    <%= f.text_field :number, :size=>"60x3",placeholder: "枚数" %><br>
    <%= f.text_field :body, :size=>"60x3",placeholder: "その他" %><br>
    <% if @schedule.Instant? %>
      <%= f.submit "予約する", id: "btn_book", class: "button is-danger is-fullwidth m-t-10 m-b-10" %>
    <% else %>
      <%= f.submit "予約リクエストを送信", id: "btn_book", class: "button is-danger is-fullwidth m-t-10 m-b-10" %>
    <% end %>
  <% end %>

  <p>予約件数：<%= @reserves.count %></p>
    <% @reserves.each do |reserve| %><br>
      <%= reserve.created_at.strftime('%Y/%m/%d') %>
      <%= reserve.name %>
      <%= reserve.body %>
    <% end %><br> 


<%= link_to "一覧へ戻る", user_schedules_path(@user.id) %>

<% if @schedule.user_id == current_user.id %>
  <%= link_to "編集", edit_user_schedule_path(@user, @schedule) %>
  <%= link_to "削除", user_schedule_path(@user, @schedule), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
