<div id="header">
  <div id="logo">
    <a href="/">ロゴ</a>
  </div>
  <div id="link">
    <ul id="nav">
    <% if user_signed_in? %>
        <li>
          <%= link_to "マイページ", user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "予約一覧",  user_reserves_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
    <% end %>
        <li>
          <%= link_to "一覧", users_path %>
        </li>
        <li>
          <%= link_to "活動地域", prefectures_path %>
        </li>
        <li>
          <%= link_to "ジャンル", genres_path %>
        </li>
    </ul>

  <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :search, placeholder: "キーワードで検索", class: "form-control" %>
      <%= f.submit "検索", class: "btn btn-primary", id: "btnNavbarSearch" %>
  <% end %>
  </div>
</div>