
<%= form_for(@contact, url: user_confirm_path) do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>

  <div class="form-group">
    <%= f.label :name, '氏名（カナ）*' %>
    <%= f.text_field :name, autofocus: true, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス*' %>
    <%= f.email_field :email, required: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number, '電話番号(ハイフンなし)' %>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject_i18n, 'お問い合わせ内容*' %>
    <%= f.select :subject, Contact.subjects_i18n.invert, {prompt: "選択してください"}, {class: "select__box__format"} %>
  </div>

  <div class="form-group">
    <%= f.label :message, '本文*' %>
    <%= f.text_area :message, class: 'form-control', required: true%>
  </div>

  <div>
    <%= f.submit '入力内容確認' %>
  </div>
<% end %>
