<%= form_with model: @disc, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, "タイトル", :class => "form-label" %><br />
    <%= f.text_field :title, :class => "form-control" %><br />

    <%= f.label :published_date, "リリース日", class: 'form-label' %><br />
    <%= f.date_field :published_date, class: 'form-control' %><br />

    <%= f.label :price, "価格", :class => "form-label" %><br />
    <%= f.text_field :price, :class => "form-control" %><br />

    <%= f.label :body, "詳細", :class => "form-label" %><br />
    <%= f.text_area :body, :class => "form-control" %><br />

    <%= f.label "画像をアップロード" %><br>
    <%= f.file_field :image %><br>


    <%= f.submit "作成する", :class => "btn btn-primary" %><br />
    <%= link_to 'キャンセル' , "", :class => "btn btn-light" %><br />
  </div>
<% end %>