<p>NEWS詳細</p>

商品名<br>
<%= @good.title%><br>
価格<br>
<%= @good.price%><br>
詳細<br>
<%=simple_format @good.body%><br>

<% if @good.image? %>
    <%= image_tag @good.image.to_s %>
<% end %>

<%= link_to "一覧へ戻る", goods_user_path(@good.user_id) %>

<% if @good.user_id == current_user.id %>
  <%= link_to "編集", edit_good_path(@good) %>
  <%= link_to "削除", good_path(@good), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
