<p>NEWS詳細</p>

タイトル<br>
<%= @post.title%><br>
詳細<br>
<%=simple_format @post.body%><br>

<% if @post.image? %>
    <%= image_tag @post.image.to_s %>
<% end %>

<%= link_to "一覧へ戻る", user_posts_path(@post.user_id) %>

<% if @post.user_id == current_user.id %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
