<p>NEWS詳細</p>

タイトル<br>
<% if @post.image? %>
    <%= image_tag @post.image.to_s %>
<% end %>

<%= @post.title %><br>

詳細<br>
<%=simple_format @post.body%><br>

  <%= render "likes/like", user: @user, post: @post%>

<%= link_to "一覧へ戻る", user_posts_path(@user.id) %>

<% if @post.user_id == current_user.id %>
  <%= link_to "編集", edit_user_post_path(@user, @post) %>
  <%= link_to "削除", user_post_path(@user, @post), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>
