<h1>アカウントを作成</h1>

  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :username, "USER ID", :class => "form-label" %><br />
      <%= f.text_field :username, value: @user.username, autofocus: true, autocomplete: "username", :class => "form-control" %><br /> 
            
      <%= f.label :email, "EMAIL", :class => "form-label" %><br />
      <%= f.email_field :email, value: @user.email, autocomplete: "email", :class => "form-control" %><br />

      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上で入力)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "password" %><br/>

      <%= f.label :パスワードの確認 %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "password_confirmation" %><br/>

      <%
=begin%>
 <%= f.label :band, "バンドアカウントを登録する", :class => "form-label" %><br />
      <%= f.check_box :band, {}, "true", "false" %><br />  
<%
=end%>

      <%= f.submit "作成する", :class => "btn btn-primary btn-block" %><br />
    </div>
  <% end %>

<%= link_to 'Twitterで登録', user_twitter_omniauth_authorize_path, method: :post %><br />
<%= link_to 'Googleアカウントで登録', user_google_oauth2_omniauth_authorize_path, method: :post %><br />
________________________________________________________________<br>
<%= render "devise/shared/links" %>